@page "/"

@*<p>Hi,@UtilidadesString.Enmayuscular(FirstName)</p>
<p>Vamos a sumar 2 + 2 = @(2+2)</p>
<button class="btn btn-outline-dark" @onclick="@(()=> manejarClick())">Presioname</button>*@

<div>
    <h3>Pelicula</h3>
    @*<ListadoPeliculas Peliculas="ObtenerPeliculas()" />*@
    <ListadoPeliculas Peliculas="Peliculas"/>
</div>
<div>
    <h2>Crear nueva pelicula</h2>
    <EjemploTextbox placeholder="Nombre Pelicula" />
    <EjemploTextbox @attributes="@EjemploTextboxParametro" />
</div>

@code{

    string FirstName = "Draco Master!";

    public List<Pelicula> Peliculas;

    public Pelicula SpiderMan { get { return Obtenerpelicula(); } }

    private Dictionary<string, object> EjemploTextboxParametro = new Dictionary<string, object>() {
        { "placeholder", "nuevo placeholder" }, { "disabled", "true" },
         { "class", "form-control" },
    };

    private Pelicula Obtenerpelicula() {
        return new Pelicula() { Titulo="Spider Man: Far From Home",FechaLanzamiento=new DateTime(2019, 7, 2)};
    }

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>() {
            new Pelicula() { Titulo="Spider Man: Far From Home",FechaLanzamiento=new DateTime(2019, 7, 2)},
            new Pelicula() { Titulo="Moana",FechaLanzamiento=new DateTime(2016, 11, 22)},
            new Pelicula() { Titulo="Inception",FechaLanzamiento=new DateTime(2010, 7, 16)},
        };
    }

    private void manejarClick() { Console.WriteLine("Me han clickeado!"); }



}